@model BSIT3L_Movies.Models.MovieViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Movie</title>
    <style>
        body {
            background-color: white;
            text-align: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <div style="background-color: #333; padding: 20px; text-align: center;">
        <h2 style="color: white;">Movie Details</h2>
        <p style="color: violet">Movie ID: @Model.Id</p>
        <p style="color: white;">Movie Name: @Model.Name</p>
        <p style="color: red;">Rating: @Model.Rating</p>
        <p style="color: green;">Release Year: @Model.ReleaseYear</p>
        <p style="color: orange;">Genre: @Model.Genre</p>
        <img src="/images/@Model.ImageFilename" alt="@Model.ImageFilename" />
    </div>
</body>
</html>

